:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;
  --grisClaro: #dfe9f3;

  --fuente-principal: 3.8rem;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-snap-type: y mandatory; /*scroll de arriba hacia abajo, o barra de bajar y subir*/
  /*si se quiere horizontal seria x
  y vertical y x horizontal*/
}
*,
*::before,
*::after {
  /*selecciona todos los elementos del html, selector universal*/
  box-sizing: inherit;
}
body {
  font-size: 16px; /*1 rem = 10px*/
  font-family: "Krub", sans-serif;
  /*con la linea que viene a contnuacion
  hacemos un degrade de abajo hacia arriba*/
  background-image: linear-gradient(
    to top,
    var(--grisClaro) 0%,
    var(--blanco) 100%
  ); /*codigo para degradado de abajo hacia arriba*/
  /*esta to tp de arriba hacia abajo
  to righth horizontalmente
  to bottom de arriba hacia abajo
  segun lo queramos*/
}
/*elementos globales*/
.contenedor {
  max-width: 120rem; /*1200px*/
  margin-top: 0; /*margen superior*/
  margin-right: auto; /*margen derecho, los margin son la separacion que quiero hacer de cada elemento*/
  margin-bottom: 0; /*separacion hacia abajo* y margen inferior/
    margin-left: auto; /*margen izquierdo*/
  margin: 0 auto 0 auto; /* estan los 4 margenes en orden, asi tambien se puede colocar de forma reducida*/
}
.boton {
  background-color: var(--secundario);
  color: var(--blanco);
  padding: 1rem 3rem;
  margin-top: 3rem; /*separar el boton de la caja de texto para que no qued epegado*/
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase; /*coloca el texto del boton en mayusculas*/
  font-weight: bold; /*negrilla*/
  border-radius: 0.5rem; /*esquinas redondeadas del boton*/
  width: 90%;
  text-align: center;
  border: none;
  

}
.boton:hover{
  background-color: var(--primario);
  color: var(--oscuro);
  cursor: pointer;
  
}
.sombra {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.48);
  -moz-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.48);
  box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.48);
  background-color: var(--blanco);
  padding: 2rem;
  border-radius: 1rem;
}
h1 {
  font-size: 3.8rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 1.8rem;
}
h1,
h2,
h3 {
  text-align: center;
}
/*titulos*/
.titulo {
  /*Un rem = 10px pero se acomoda mejor para cualquier dispositivo*/
  text-align: center;

  font-family: "Krub", sans-serif;
}
/* sale mas pequeño la palabra que esta en la etiqueta span dependiendo el valor rem*/
.titulo span {
  font-size: 2rem;
}

/*esto es para el boton y que se ajuste a cualquier tamaño de dispositivo*/
@media (min-width: 480px) {
  .boton {
    width: auto; /*auto para que se ajuste automaticamnete al tamaño de pantalla de cualquier dispositivo*/
  }
}
/*UTILIDADES*/
.w-sm-100{/*para que en otro tamaño de oantalla el ancho del boton siempre ocupe el 100%
  lo colocamos aqui en css y en el html*/
  width: 100%;
  
}
@media (min-width:768px) {
  .w-sm-100{
    width: auto;
    
  }
} 
.alinear-derecha{
justify-content: flex-end;
  
}
.flex{
  display: flex;
}
/*navegacion principal*/
.nav-bg {
  background-color: var(--secundario);
}

.navegacion-principal {
  padding: 1rem; /*le da mas grosor a la bara de navegacion*/

  display: flex; /*para habilitar el flexbox*/
  flex-direction: column; /*para que se muestren los elementos de arriba hacia abajo en el celular*/
}
@media (min-width: 768px) {
  .navegacion-principal {
    flex-direction: row;
    justify-content: space-between; /*separar el contenido de la barra de navegacion*/
  }
}
.navegacion-principal a {
  display: block; /*coloca los elementos de la barra de nav debajo del otro cuando sea movil*/
  text-align: center; /*centra los elementos o los textos cuando sea pantalla mas pequeña*/
  color: var(--blanco);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem; /*le da mas grosor a la bara de navegacion*/
}
.navegacion-principal a:hover {
  /*el hover para cuando se coloque el click encima del texto*/
  background-color: var(--primario);
  color: var(
    --oscuro
  ); /*para cuando se coloque el clik la letra cambie a color negro*/
}
/*Responsive web desing con media query es hacer el sitio web y que se adapte a cualquier dispositivo
enfoque que se adapta a la interaccion del usuario y a cualquier dispositivo movil
y esto se logra con media query, aqui esta el ejemplo
*/
@media (min-width: 480px) {
}
@media (min-width: 480px) {
}
@media (min-width: 1140px) {
}
@media (min-width: 1400px) {
}
.hero {
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat; /*para que la imagen no se repita cuando se extiende la pantalla*/
  background-size: cover; /*para que la imagen ocupe toda la pantalla y no salga mocha*/
  height: 410px;
  margin-bottom: 2rem;
  position: relative;
}
.contenido-hero {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.7); /*opacidad o transparencia de la imagen*/
  width: 100%;
  height: 100%;
  /*para alinear horizontal y verticalmente usamos esas 4 lineas de codigo*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contenido-hero h2,
.contenido-hero p {
  color: var(--blanco);
}
.ubicacion {
  display: flex; /*coloca el texto al lado del icono*/
  align-items: flex-end; /*lo alinea hacia abajo del logo, en la parte inferior al lado*/
}
/*scroll*/
.servicios,
.navegacion-principal,
.formulario{
  scroll-snap-align: center;/*por mas que quieras bajar lo va a tratar de detener el scroll*/
  scroll-snap-stop: always; 
}

/*para la clase o apartado de servicios*/
/*usamos media querie para cuando sea mas pequeña la pantalla
se coloquen los elementos verticalmente o uno debajo del otro*/
@media (min-width: 768px) {
  .servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem; /*separacion de cada columna*/
    /*css grid permite definir ubicacion y tamaño 
  de nuestros elementos del sitio web* y el
  contendio se ubica dentro de un espacio definido
  se pueden colocar elementos de arriba hacia abajo
  o a los lados*/
    /*creamos las 3 columnas y 33.3 ya que 100 /3 da eso y asi 
  caben todas 3 verticalmente una al lado de otra, o podemos usar 
  con 1fr 1fr 1fr es lo mismo que un 33.3% o 3 1fr
  3 columnas de 33.3%*/
  }
}
/*cuando usar flebox  o grid como identificamos en que escenarios usar
FLEXBOX se usa para la distribucion de elementos
que estaran dentro de contenedores
CSS GRID 
para definir el lyout ejemplo columnas */
.servicio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.servicio p {
  line-height: 2; /*mas espacio a las linea de texto*/
  text-align: center;
}
.servicio h3 {
  color: var(--secundario);
  font-weight: normal;
}
.servicio .iconos {
  height: 15rem;
  width: 15rem;
  background-color: var(--primario);
  border-radius: 50%; /*redondeamos y con el 50 se hace el circulo*/
  display: flex; /*sirve para posicionar los iconos uno frente al otro*/
  justify-content: space-evenly;
  align-items: center; /*alineamos verticalmente y centramos*/
}
/*CSS PARA EL FORMULARIO*/
.formulario {
  background-color: var(--gris);
  width: min(60rem, 100%); /*min utiliza el valor mas pequeño*/
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem;
}
.formulario fieldset {
  border: none;
}
.formulario legend {
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase; /*mayusculas*/
  color: var(--primario);
  font-weight: bold; /*negrilla*/
  margin-bottom: 2rem; /*separar el primer texto del primer input*/
}
@media (min-width:768px) {
  .contenedor-campos {
  display: grid;
  grid-template-columns: 50% 50%;/*crea dos columnas iguales*/
  column-gap: 1rem;/*separacion de las columnas*/
  grid-template-rows: auto auto 20rem;
}
} 
.campo:nth-child(3),
.campo:nth-child(4){/*como es para el correo se hace asi con el numero que es el div numero 4 donde esta el campo de correo*/
      grid-column: 1 / 3; /*estira la caja de texto o contenido de correo*/
  
     
}
.campo {
  margin-bottom: 1rem; /*separa las cajas de textos las que estan una debajo de otra*/
  
}
.campo label {
  color: var(--blanco);
  
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block; /*se separa mejor de cada input*/
}
.input-text {
  width: 100%;
  border: none;
  padding: 1.5rem; /*para que los input o cajas de texto donde se va a escribir se vean mas grande*/
  border-radius: .5rem;
  
  
}
.campo textarea{
  height: 20rem; /*altura*/
}
.footer{
  text-align: center;
}
